.logo {
    font-size: 2rem;
}

.dot {
    color: var(--text-color-hover);
}

.text-group {
    animation: fadeIn 2s ease-in-out;
}

.button {
    padding: 1rem;
    border: 1px solid white;
}
  
.button:hover {
    background-color: rgba(27, 1, 35, 0.5);
    border: 1px solid var(--text-color-hover);
}
  

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.container {
    background-color: white;
    color: var(--bg-color);
    padding: 0.25rem 1rem;
}

.about-container {
    border: 1px solid var(--text-color-hover);
    text-align: center;
    margin: 8rem;
    padding: 2rem 2rem;
}

#skills {
    text-align: center;
    padding: 2rem 0;
    --dot-bg: var(--bg-color);
    --dot-color: var(--text-color);
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}

.skills-header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skills-brands-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-size-lg {
    font-size: 4rem;
}

.project-header {
    text-transform: uppercase;
    color: rgb(99, 99, 218);
    font-size: 3.4rem;
    margin-bottom: -1.4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.padding {
    height: 15rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
    font-size: 1.5rem;
}

.footer-contents {
    padding: 2rem;
}

.copyright {
    margin: 0;
}

.top-border-gradient {
    height: 0.5rem;
    background: linear-gradient(90deg, rgba(230,130,210,1) 0%, rgba(254,204,244,1) 100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 520px) {
    .project-header {
        font-size: 6rem;
        margin-bottom: -2.5rem;
        margin-left: -0.4rem;
        text-align: left;
    }
}