:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --bg-color: #1b0123;
    --text-color: #fff;
    --text-color-hover: #e682d2;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--system-ui);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h2 {
    margin: 0;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover);
}

img {
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 4rem;
    position: absolute;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

footer {
    text-align: center;
}